<div class="footer">
    <p>Artem Tanyhin - ArtemBnB&copy;</p>
    <p>All rights reserved (not really but if you copy you're bad) - you can view them <a target="blank" href="https://youtu.be/dQw4w9WgXcQ">here</a></p>
</div>