<header>
    <map name="logo">
        <area shape="circle" coords="70, 70, 65" href="/" />
    </map>
    <img src="images/logo.png" alt="logo" width="170px" usemap="#logo">
    <h1>ArtemBnB</h1>
    <p>The Best Site you can get temporary accomodation from!</p>
</header>