<header>
    <map name="logo">
        <area shape="circle" coords="65, 65, 60" href="/" />
    </map>
    <img src="images/logo.png" alt="logo" width="160px" usemap="#logo">
    <h1>ArtemBnB</h1>
    <p>The Best Site you can get temporary accomodation from!</p>
</header>