<!doctype html>
<html>
  <head>
    <title>404 - Not Found</title>
    {{> head}}
  </head>
    <body>
    {{> header}}
    {{> nav}}
    <main>
        <h1>404!</h1>
        <h2>Page not found.</h2>
    </main>
    {{> footer}}
    </body>
</html>