<!doctype html>
<html>
  <head>
    <title>Dashboard - {{user.username}} - ArtemBnB</title>
    {{> head}}
  </head>
    <body>
    {{> header}}
    {{> nav}}
    <main>
        <h2>Hello, {{user.name}}!</h2>
        <p>How are you today? Wanna check our Rooms section?</p>
    </main>
    {{> footer}}
    </body>
</html>